/* Topography */
html{
    font-size: 18px;
}
body{
    font-family: 'Roboto Slab', serif;
    font-weight: 400px;
    font-size: 18px;
    line-height: 23px;
}
h1{
    font-size: 67px;
    line-height: 89px;
    color: var(--color-background-color-2);
}
h2{
    font-size: 50px;
    line-height: 67px;
}
h3{
    font-size: 37px;
    line-height: 50px;
    color: var(--color-black);
}
h4{
    font-size: 21px;
    line-height: 28px;
    color: var(--color-background-color-2);
}
h5{
    font-size: 16px;
    line-height: 21px;
}
h1,
h2,
h3,
h4,
h5{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child{
    padding: 0;
    margin: 0;
}
p{
    line-height: 23px;
    margin: 0;
}
a{
    font-weight: 400;
    text-decoration: none;
}
/**************
Generals
**************/
:root{ /* pseudoclase que hace referencia al html */
    --primary-color: #cbcbcb;
    --secondary-color: #fd7878;
    --terteary-color: #757575;
    --other-color: #fdfdfd;
        
    --color-black: #000000;
    --color-white: #ffffff;

    --color-background-color-1: #232e3e;
    --color-background-color-2: rgba(255, 255, 255, 0.9);

    --font-1: 'Roboto Slab', serif;
}
*{
    box-sizing: border-box;
}
figure{
    margin: 0;
}
img{
    max-width: 100%; /* imagenes en resonsive */
    height: auto;
}
.main-container {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}
/* banner */
.main-hero-banner{
    background-image:  url(../img/hero-banner\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.hero-banner {
    height: 640px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.hero-banner .content {
    text-align: left;
}
.hero-banner .content span{
    color: var(--secondary-color);
}
/* redes sociales */
.social-network{
    display: flex;
    position: fixed; /* lo mantiene fijo incluso con scroll */
    top: 198px;
    left: 0;
}
.social-network ul{
    margin: 0;
    padding: 0;
    border: 1px solid var(--color-background-color-1);
}
.social-network li{
    width: 34px;
    height: 34px;
    background-color: var(--color-background-color-1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-network a{
    color: #fff;
}
.social-network li:not(:last-child){
    border-bottom: 1px solid var(--color-background-color-1)ey;
}
/* about me */
.main-about-me{
    height: 830px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-about-me .content{
    display: flex;
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.content .know-me{
    display: flex;
}
.content h2{
    text-align: center;
    padding-top: 69px;
    padding-bottom: 60px;
}
.know-me .photo{
    width: 48.3333333%;
}
.know-me .information-about-me{
    width: 48.3333333%;
    padding-left: 60px;
    padding-right: 40px;
}
.redes-informacion {
    font-family: "Linearicons";
    list-style: none;
}
.redes-informacion :nth-child(1):before{
    content: "\e696";
    color: var(--secondary-color);
}
.redes-informacion :nth-child(2):before{
    content: "\e773";
    color: var(--secondary-color);
}
.redes-informacion :nth-child(3):before{
    content: "\e77c";
    color: var(--secondary-color);
}
.btn{
    font-family: var(--font-1);
    border-radius: 8px;
    background-color: var(--secondary-color);
    color: var(--color-white);
    display: inline-block;
    padding: 10px 25px;
}
/* My services */
.my-services{
    padding-top: 96px;
}
.title{
    text-align: center;
}
.title h2{
    margin-top: 0;
}
.grid{
    display: flex;
    max-width: 1180px;
    width: 100%;
}
.grid .card:not(:last-child){
    margin-right: 1.694915%;
}
.grid .card{
    max-width: 380px;
    width: 32.20339%;
    margin-bottom: 50px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16); 
    border-bottom-left-radius: 7px;  
    border-bottom-right-radius: 7px;
}
.card figure img{
    display: block;
}
.card div{
    height: 54px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

    display: flex;
    align-items: center;

    transition: all 0.2s;
}
.card span{
    color: var(--color-black);
    font-weight: 400;
    font-family: var(--font-1);
    margin-left: 27px;
}
.card:hover div{
    background-color: var(--color-background-color-1);
}
.card:hover span{
    color: var(--color-white);
}

.btn-servicios:hover div{
    background-color: var(--color-background-color-1);
}
.btn-servicios:hover span{
    color: var(--color-white);
}
/* My Expertises*/
.content{
    margin-top: 60px;
}
.title{
    text-align: center;
}
.content h3{
    color: var(--color-black);
    margin-bottom: 30px;
}
.my-expertice{
    display: flex;
    justify-content: center;
    margin: 0;
}
.my-expertice .grid{
    width: 50%;
    display: inline-block;
}
.my-experience .grid{
    width: 580px;
    height: 183px;
    background-color: var(--color-white);
    box-shadow: 0 2px 2px 2px #cbcbcb;
    border-radius: 7px;
}
.my-education .grid{
    width: 580px;
    height: 183px;
    background-color: var(--color-white);
    box-shadow: 0 2px 2px 2px #cbcbcb;
    border-radius: 7px;
}
.grid:not(:last-child){
    margin-bottom: 38px;
}
.grid p{
    margin-left: 26px;
    margin-right: 26px;
    margin-top: 58px;
}
.grid h4{
    color: var(--color-black);
    margin-left: 26px;
    padding-top: 27px;

}
.grid h5{
    margin-left: 26px;
    background-color: #cbcbcb;
    border-radius: 5px;
    margin-top: 6px;
    padding: 4px;
    position: absolute;

}
/* map */
.map{
    padding-top: 50px;
    padding-bottom: 60px;
}
/* form */
.form-contact input{
    width: 100%;
}


/* footer */
.contenido-footer{
    background-color: var(--primary-color);
    height: 198px;
}
.contenido-5 p{
    color: var(--color-black);
    width: 338px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.social-network-1 p a{
    color: var(--color-black);
    text-decoration: underline;
}
.social-network-1 ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.social-network-1 li{
    margin-top: 54px;
    margin-bottom: 18px;
}
.social-network-1 li:not(:last-child){
    margin-right: 15px;
}
.social-network-1 a{
    
    color: var(--color-black);
}
.contenido-footer .cuadro-1{
    width: 50px;
    height: 50px;
    background-color: var(--color-background-color-1);
    position: absolute;
    margin-top: -30px;
    right: 30px;
    z-index: 2;
}